xml-resources/web-service-references/FilmesWS/wsdl/localhost_8080/FilmesProjetoServer/FilmesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws.pds.ifrn.edu.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pds.ifrn.edu.br/">

<xs:element name="alterarFilme" type="tns:alterarFilme"/>

<xs:element name="alterarFilmeResponse" type="tns:alterarFilmeResponse"/>

<xs:element name="buscarFilme" type="tns:buscarFilme"/>

<xs:element name="buscarFilmeResponse" type="tns:buscarFilmeResponse"/>

<xs:element name="deletarFilme" type="tns:deletarFilme"/>

<xs:element name="deletarFilmeResponse" type="tns:deletarFilmeResponse"/>

<xs:element name="inserirFilme" type="tns:inserirFilme"/>

<xs:element name="inserirFilmeResponse" type="tns:inserirFilmeResponse"/>

<xs:element name="listarTodosOsFilmes" type="tns:listarTodosOsFilmes"/>

<xs:element name="listarTodosOsFilmesResponse" type="tns:listarTodosOsFilmesResponse"/>

<xs:element name="verificarExistencia" type="tns:verificarExistencia"/>

<xs:element name="verificarExistenciaResponse" type="tns:verificarExistenciaResponse"/>

<xs:complexType name="alterarFilme">
<xs:sequence>
<xs:element name="objFilme" type="tns:filme" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filme">
<xs:sequence>
<xs:element name="anoLancamento" type="xs:int"/>
<xs:element name="avaliacao" type="xs:double"/>
<xs:element name="duracao" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterarFilmeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarFilme">
<xs:sequence>
<xs:element name="idFilme" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarFilmeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarExistencia">
<xs:sequence>
<xs:element name="nomeFilme" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarExistenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirFilme">
<xs:sequence>
<xs:element name="objFilme" type="tns:filme" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirFilmeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTodosOsFilmes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTodosOsFilmesResponse">
<xs:sequence>
<xs:element name="return" type="tns:filme" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFilme">
<xs:sequence>
<xs:element name="nomeFilme" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFilmeResponse">
<xs:sequence>
<xs:element name="return" type="tns:filme" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>