xml-resources/web-service-references/FilmesWS/wsdl/localhost_8080/FilmesProjetoServer/FilmesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pds.ifrn.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pds.ifrn.edu.br/" name="FilmesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pds.ifrn.edu.br/" schemaLocation="http://localhost:8080/FilmesProjetoServer/FilmesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarFilme">
<part name="parameters" element="tns:buscarFilme"/>
</message>
<message name="buscarFilmeResponse">
<part name="parameters" element="tns:buscarFilmeResponse"/>
</message>
<message name="inserirFilme">
<part name="parameters" element="tns:inserirFilme"/>
</message>
<message name="inserirFilmeResponse">
<part name="parameters" element="tns:inserirFilmeResponse"/>
</message>
<message name="alterarFilme">
<part name="parameters" element="tns:alterarFilme"/>
</message>
<message name="alterarFilmeResponse">
<part name="parameters" element="tns:alterarFilmeResponse"/>
</message>
<message name="deletarFilme">
<part name="parameters" element="tns:deletarFilme"/>
</message>
<message name="deletarFilmeResponse">
<part name="parameters" element="tns:deletarFilmeResponse"/>
</message>
<message name="listarTodosOsFilmes">
<part name="parameters" element="tns:listarTodosOsFilmes"/>
</message>
<message name="listarTodosOsFilmesResponse">
<part name="parameters" element="tns:listarTodosOsFilmesResponse"/>
</message>
<message name="verificarExistencia">
<part name="parameters" element="tns:verificarExistencia"/>
</message>
<message name="verificarExistenciaResponse">
<part name="parameters" element="tns:verificarExistenciaResponse"/>
</message>
<portType name="FilmesWS">
<operation name="buscarFilme">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/buscarFilmeRequest" message="tns:buscarFilme"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/buscarFilmeResponse" message="tns:buscarFilmeResponse"/>
</operation>
<operation name="inserirFilme">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/inserirFilmeRequest" message="tns:inserirFilme"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/inserirFilmeResponse" message="tns:inserirFilmeResponse"/>
</operation>
<operation name="alterarFilme">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/alterarFilmeRequest" message="tns:alterarFilme"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/alterarFilmeResponse" message="tns:alterarFilmeResponse"/>
</operation>
<operation name="deletarFilme">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/deletarFilmeRequest" message="tns:deletarFilme"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/deletarFilmeResponse" message="tns:deletarFilmeResponse"/>
</operation>
<operation name="listarTodosOsFilmes">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/listarTodosOsFilmesRequest" message="tns:listarTodosOsFilmes"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/listarTodosOsFilmesResponse" message="tns:listarTodosOsFilmesResponse"/>
</operation>
<operation name="verificarExistencia">
<input wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/verificarExistenciaRequest" message="tns:verificarExistencia"/>
<output wsam:Action="http://ws.pds.ifrn.edu.br/FilmesWS/verificarExistenciaResponse" message="tns:verificarExistenciaResponse"/>
</operation>
</portType>
<binding name="FilmesWSPortBinding" type="tns:FilmesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarFilme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirFilme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterarFilme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletarFilme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTodosOsFilmes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarExistencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FilmesWS">
<port name="FilmesWSPort" binding="tns:FilmesWSPortBinding">
<soap:address location="http://localhost:8080/FilmesProjetoServer/FilmesWS"/>
</port>
</service>
</definitions>